@media (max-width:1230px){
    .contact__block{width: 48%;}
    .contact__info-map{width: 100%;}
    .contact__block__info-title{font-size: 2rem;}
    .contact__block__info__content{font-size: 14px; flex-direction: column; gap: 3vh;}
    .contact__block__info-title{margin-bottom: max(5vh, 2rem);}
    .contact__block__info__content__column{gap: 3vh}
}

@media (max-width:1024px){
    .contact-inner{flex-direction: column; gap: min(4vh, 2rem);}
    .contact__block{width: 100%;}
    .contact__form{width: 100%;}
    .contact__block__info{height: auto;}
    .contact__form-input::placeholder{font-size: 18px;}
    .contact__form-input{font-size: 18px;}
}

@media (max-width:768px){
    .contact-inner{padding: 0 15px;}
    .contact__form{ font-size: 18px;}
    .contact__block__info{font-size: 18px;}
    .contact-btn{width: 100%;}
    .contact__form-title{font-size: 2.25em;}
    .contact__block__info{height: auto;}
    .contact__block__info{padding: min(3vh,3.31rem) 15px min(3.1vh,3.41rem) 15px}
}