@media (max-width:1230px){
    .info__content-btn{font-size: 17px;}
}
  
@media (max-width:1024px){
    .info-inner{flex-direction: column; align-items: center; gap: 1vh;}
    .info__content-title{font-size: 3.5rem;}
    .info__content{width: 60%;}
    .info__content-title{margin-top: min(14vh, 3.05rem);}

    .reviews__content{flex-direction: column; align-items: center; gap: 3vh;}
    .reviews__block{width: 60%; padding-block: min(4vh, 2.45rem);}
}
  
@media (max-width:768px) {
    .content-btn-1{display: none;}
    .info__content-title{font-size: 3rem;}
    .info__content-btn{width: 100%;}
    .info-image{width: 80%; height: auto;}

    .tips-inner{padding: 0 15px}
    .tips__content{flex-direction: column;}
    .tips__content:nth-child(2),
    .tips__content:nth-child(4) {flex-direction: column;}
    .tips__content:nth-child(2) > .tips__content-number,
    .tips__content:nth-child(4) > .tips__content-number {text-align: right;}

    .reviews-inner{padding: 0 15px;}
}

@media (max-width:400px){
    .tips-inner{font-size: 12px;}
}