:root {
  --bg: #fbf8f2;
  --black: #1b1b1b;
  --blue: #0d484f;
  --white: #f0f4efff;
  --text-100: #ee4037;
}

html {
  font-size: 16px;
  font-family: 'Poppins';
  color: var(--black);
  cursor: default;
}

.has-scroll-smooth body{
  overflow: hidden;
}

body{
  overflow-x: hidden;
}

#scroller{
  overflow-y: hidden !important;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*    header    */

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 0 25px;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.header__menu {
  margin-right: 10vw;
  display: flex;
  gap: 3.5vw;
}

.header__menu-link {
  color: var(--black);
  font-size: 1.33rem;
  font-family: 'Sequel';
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.header__menu-link:hover {
  color: var(--text-100);
}

.header a{
  height: 100%;
}

.header img {
  height: 100%;
}

.header__hamburger{
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
  margin-right: 9vw;
}

.header__hamburger span{
  position: absolute;
  background-color: var(--white);
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease-in-out;
}

.header__hamburger::before,
.header__hamburger::after {
  content: "";
  background-color: var(--white);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.header__hamburger::before {
  top: 0;
}

.header__hamburger::after {
  bottom: 0;
}

.header__hamburger.active::before {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: var(--text-100);
}

.header__hamburger.active span {
  opacity: 0;
}

.header__hamburger.active::after {
  transform: rotate(45deg) translate(-7px, -8px);
  background-color: var(--text-100);
}

.header h4{
  display: none;
  color: var(--white);
  font-size: 4vw;
  font-family: 'Sequel';
}

.mobile-menu{
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 76.25vw;
  height: 100%;
  background-color: var(--black);
  transition: right 0.3s ease-in-out;
  z-index: -1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-left: 2px solid var(--white);
}

.mobile-menu a {
  display: block;
  color: var(--white);
  justify-content: center;
  text-decoration: none;
  margin-bottom: 7vh;
  font-size: 1.5rem;
}

.mobile-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  padding-top: 4vh;
  margin-top: 8vh;
  padding-inline-end: 2vw;
  border-top: 1px solid #444;
}

.mobile-social{
  display: flex;
  justify-content: center;
  gap: 7vw;
}

.mobile-inner img{
  height: 5vh;
}

.mobile-inner p {
  color: var(--white);
  font-family: 'GT-America Regular';
  font-size: 3.2vw;
  line-height: 3.6vw;
  text-align: center;
}

/*   loading screen     */

.loading-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 99;
}

.black-square, .white-square {
  width: 50%;
  height: 100%;
}

.black-square {
  background-color: var(--black);
}

.white-square {
  background-color: var(--bg);
}

/*         hero         */

#hero{
    position: relative;
    height: 100vh;
}

#hero h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
    font-size: 12.5rem;
    font-family: 'Sequel';
    color: var(--text-100);
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide, .right-slide {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  transition: transform 0.75s ease-in-out;
}

.left-slide {
  left: 0;
}

.right-slide {
  right: 0;
}

.dots-container {
  position: absolute;
  right: 3.5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--black);
  cursor: pointer;
}

.dot.active {
  background-color: var(--text-100);
}

.slide {
  height: 100%;
  width: 100%;
  position: relative;
}

.slide-1, .slide-3, .slide-5, .slide-7, .slide-10 {
  background: center center / cover no-repeat;
}

.slide-1 { background-image: url('../images/carousel/carousel-1.jpg'); }
.slide-3 { background-image: url('../images/carousel/carousel-3.jpg'); }
.slide-5 { background-image: url('../images/carousel/carousel-5.jpg'); }
.slide-7 { background-image: url('../images/carousel/carousel-7.jpg'); }
.slide-10 { background-image: url('../images/carousel/carousel-10.jpg'); }

.slide-2, .slide-4, .slide-6, .slide-8, .slide-9 {
  background: center center / 50% no-repeat white;
}

.slide-2 { background-image: url('../images/carousel/carousel-2.jpg'); }
.slide-4 { background-image: url('../images/carousel/carousel-4.jpg'); }
.slide-6 { background-image: url('../images/carousel/carousel-6.jpg'); }
.slide-8 { background-image: url('../images/carousel/carousel-8.jpg'); }
.slide-9 { background-image: url('../images/carousel/carousel-9.jpg'); }

.slide p {
  font-size: 1rem;
  position: absolute;
  bottom: 7.5vw;
  left: 11vw;
  font-family: 'InkaBSmall';
  color: var(--white);
}

.small p{
  color: var(--black);
}

.slider-mobile {
  display: none;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider-mobile .slide {
  width: 100%;
  transition: all 1s ease-in-out;
}

.slider-mobile button {
  cursor: pointer;
  bottom: -2.5vw;
  color: var(--white);
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 8vw;
  padding: 0 3vw;
  position: absolute;
  z-index: 10;
}

.slider-mobile .left-arrow {
  left: 0;
}

.slider-mobile .right-arrow {
  right: 0;
}

/*        about          */

#about{
    background-color: var(--bg);
}

.about-inner{
    padding-block: min(2vh, 4rem);
}

#about p{
    margin: min(6vh, 7.7rem);
    font-size: 3.5rem;
    font-family: 'GT-America Regular';
    line-height: 4.5rem;
}

#about p span{
    color: var(--text-100);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-family: 'InkaBSmall';
}

/*          services            */

.services-inner{
    margin-block: min(7vh, 9rem);
}

#services img{
    width: 8.5vw;
    margin-inline: auto;
    display: block;
}

#services h4{
    font-size: 2.5rem;
    font-family: 'Sequel';
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
}

.services__content{
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 7.5vh;
}

.services__block{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6vh;
    cursor: pointer;
}

.services__block h5{
    font-family: 'Poppins';
    font-size: 2rem;
}

.services__block p{
    font-family: 'GT-America Regular';
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.services__block a{
  font-family: 'InkaBSmall';
  color: var(--black);
  text-decoration: none;;
}

/*         reviews         */

#reviews{
  background-color: var(--bg);
}

.reviews-inner{
  display: flex;
  justify-content: space-between;
  height: 65vh;
}

.reviews-image{
  transition: all 0.4s ease-in-out;
  width: 50vw;
  cursor: pointer;
  background: url('./../images/reviews-b&w.png') center center / cover no-repeat;;
}

.reviews-image:hover{
  background-image: url('./../images/reviews-color.png');
}

.reviews__content{
  width: 38vw;
  padding: 10vh 11vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews__content img{
  width: 8.5vw;
}

.reviews__content img:first-child{
  border-radius: 50%;
}

.reviews__content h4{
  font-family: 'InkaBSmall';
  font-size: 1.37rem;
  text-align: center;
}

.reviews__content h5{
  font-size: 1.1rem;
  font-family: 'GT-America Regular';
  margin-top: 2.5vh;
}

/*         adress         */

#adress{
  background-color: var(--text-100);
}

.adress-inner{
  padding-block: min(7vh, 9rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adress-inner img{
  width: 10.5vw;
}

.adress-inner p{
  margin-block: 5vh 7vh;
  text-align: center;
  font-family: 'InkaBSmall';
  color: var(--white);
  font-size: 1.75rem;
}

.adress-inner a{
  font-family: 'InkaBSmall';
  color: var(--black);
  font-size: 1.1rem;
  text-decoration: underline;
  text-underline-offset: 0.35rem;
  text-decoration-thickness: 0.1rem;
  transition: all 1s ease-in-out;
}

.adress-inner a:hover{
  text-decoration-thickness: 0.2rem;
}

/*         map         */

#map{
  height: 66vh;
}

#map iframe{
  width: 100%;
  height: 100%;
  border: none;
}

/*         social         */

#social{
  background-color: var(--bg);
}

.social-inner{
  padding-block: min(10vh, 11rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6vh;
}

.social-inner h4{
  font-family: 'Poppins';
  font-size: 2.5rem;
}

.social-inner p{
  font-family: 'GT-America Regular';
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.5rem;
  width: 40vw;
}

.social-links{
  display: flex;
  justify-content: center;
  gap: 2.5vw;
}

.social-inner a{
  font-family: 'Sequel';
  text-decoration: none;
  color: var(--text-100);
  font-size: 1.15rem;
}

/*        footer         */

footer {
  background-color: var(--black);
  color: var(--white);
  padding-block: min(5.3vh, 6.3rem);;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.footer-top li{
  margin-top: 2vh;
}

.footer-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  max-width: 10vw;
}

.footer-logo p {
  font-size: 0.88rem;
}

.footer-contact, .footer-hours, .footer-links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
}

.footer-top h3{
  font-size: 1.11rem;
  color: #c4c4c4;
}

.footer-top p, .footer-top a{
  font-size: 1rem;
  font-family: 'GT-America Regular';
}

.footer-links a {
  color: #fbf8f2;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 4vh;
  padding-inline-end: 2vw;
  border-top: 1px solid #444;
}

.footer-social{
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.footer-bottom p {
  font-family: 'GT-America Regular';
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
}
