/*       contact           */

.contact-inner{
    margin-top: min(3vh ,3.75rem);
    margin-bottom: min(1.5vh ,1.875rem);
    min-height: max(70vh, 43.625rem);
    display: flex;
    gap: 16px;
}

.contact__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.contact__info-map{
    height: max(34vh, 18.8rem);
    border-radius: 12px;
}

.contact__block__info{
    padding: 53px 0 56px 43px;
    background-color: #f0f0f0;
    border-radius: 12px;
    height: max(25vh, 18.8rem);
}

.contact__block__info-title{
    margin-bottom: max(9vh, 4rem);
    color: #030303;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 40px;
}

.contact__block__info__content{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.contact__block__info__content__column{
    display: flex;
    flex-direction: column;
    gap: 12px;
} 

.info__content{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.info__content-block{
    display: flex;
    gap: 8px;
}

.info__content-image{
    width: 18px;
    height: 20px;
}

.info__content-title{
    color: #030303;
    font-size: 1em;
    font-weight: 500;
    line-height: 20px;
}

.info__content-text{
    color: #030303;
    font-size: 1em;
    line-height: 22px;
    width: 75%;
}

.contact__block__info__content__column:nth-child(2) > .info__content{
    margin: auto 0;
}

.contact__form{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #0990fd;
    border-radius: 12px;;
}

.contact_form-inner{
    margin: max(7vh, 3.3rem) 40px min(25vh, 2.5rem) 48px;
    display: flex;
    flex-direction: column;
}

.contact__form-title{
    text-align: center;
    color: #030303;
    font-size: 3em;
    font-weight: 700;
    line-height: 40px;
}

.contact__form-block{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.contact__form-label{
    margin-top: 4vh;
    color: #030303;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 18px;
}

.contact__form-input{
    margin-top: 1vh;
    width: 95%;
    padding-left: 5px;
    width: 95%;
    color: #000;
    background-color: #0990fd;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.contact__form-input.input-name{
    width: 85%;
}

.contact__form-input.input-message{
    padding-left: 10px;
    padding-top: 5px;
    height: 131px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.contact__form-input:focus {
    outline: none;
}

.contact__form-input::placeholder{
    color: #030303;
    font-size: 1em;
    line-height: 20px;
}

.contact-btn{  
    margin: 0 auto;
    margin-top: max(7vh, 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 344px;
    height: 50px;
    padding: 0px 8px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.contact-btn:hover{
    background-color: #dddddd;
}

