html{
    font-size: 16px;
    font-family: "Poppins";
}

button{
    cursor: pointer;
    outline: none;
    border: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*        header             */

.header{
    box-shadow: 2px -2px 5px rgb(102, 102, 102); 
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 134px;
}

.header__menu{
    width: 33%;
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 500;
    
}

.header__menu-burger{
        width: 35px;
        height:35px;
        position: relative;
        display: none;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
}

.header__menu-burger .bar, .header__menu-burger:after, .header__menu-burger:before{
    content: '';
    display: block;
    width: 2.6rem;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
    position: relative;
    z-index: 99;
}

.header__menu-burger.active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.header__menu-burger.active .bar {
    opacity: 0;
}

.header__menu-burger.active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.header__menu-list{
    display: flex;
}

.header__menu-link{
    color: #000000;
    position: relative;
    text-decoration: none;
}

.header__menu-link-active{
    text-decoration: underline;
    text-decoration-color: #0990fd;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.header__menu-link:hover{
    text-decoration: underline;
    text-decoration-color: #0990fd;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.header__menu-link:not(:last-child){
    margin-right: 20px;
}
.header__menu-link.active{
    color: #ffffff;
}

.header__menu-list-mobile{
    display: none;
    position: fixed;
    bottom: 100%;
    right: 0;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    padding-top: min(33vh,20rem);
    transition: 0.6s ease all;
    z-index: 98;
    overflow: hidden;
}

.header__menu-list-mobile.active{
    bottom: -20%;
}

.header__menu-burger-cover{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

.header__menu-burger-cover.active{
    display: none;
    height: 100%;
    width: 100%;
    z-index: 97;
    background-color: rgba(0, 0, 0, 30%);
}

.header-logo{
    width: 134px;
    height: 134px;
    border-radius: 8px;
    display: block;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/images/logo.png);
}

.header__content{
    display: flex;
    width: 33%;
    justify-content: right;
    gap: 30%;
    align-items: center;
}

.header__content-social{
    display: flex;
    gap: 20%;
}

.header__content-social-link{
    display: block;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__content-btn{
    width: 155px;
    height: 60px;
    padding: 0px 8px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.25rem;
    font-family: "Roboto";
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: all 0.2s ease-in-out;
}

.header__content-btn:hover{
    background-color: #424242;
}

/*       footer           */

.footer{
    border-top: 1px solid #f0f0f0;
    box-sizing: border-box;
    margin-top: min(3vh, 3.75rem) ;
    padding-bottom: min(20vh, 2rem);
}

.footer-inner{
    padding-top: min(5vh, 1rem);
    display: flex;
    justify-content: space-between;
}

.footer__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__content-title{
    color: #000000;
    font-size: 1.25rem;
    font-weight: 500;
}

.footer__content:nth-of-type(2) .footer__content-title {
    font-size: 0.75rem;
    text-align: right;
}

.footer__content-text{
    color: #000000;
    font-size: 0.85rem;
    font-weight: 300;
    text-decoration: none;
}

.footer__content:nth-of-type(2) .footer__content-text {
    text-align: right;
}

.footer__content:first-child .footer__content-text:last-child {
    margin-top: min(9vh, 2rem);
}

.footer__content:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    gap: min(1.25vh, 0.5rem);
}